.Home {
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .Home .stuff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 6% 0 6%;
  }
  
  .Home .transTable {
    margin: 0 6% 0 6%;
    text-align: left;
  }
  a:hover,
  a:visited,
  a:active,
  a {
    text-decoration: none;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    padding: 12px;
  }
  
  .sourceTable {
    border-bottom: 2px solid #ff99ee;
    margin-top: 4px;
  }
  .Home table {
    width: 85%;
  }