.transDetails {
    text-align: left;
    margin: 0 6% 0 6.6%;
  }
  
  .transDetails button {
    background-color: transparent;
    color: #eb4ed8;
    width: 180px;
    font-weight: bold;
    height: 35px;
    border: 1px solid #9b9494;
    border-radius: 3.3px;
    margin-right: 16px;
  }
  